@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  margin: 0;
}

#error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
#error-page a {
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-color: #ff6060;
}

#errorNumber {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 288px;
  line-height: 142.6%;
  color: #ff6060;
}

#errorTxt {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 42px;
  line-height: 142.6%;
  color: #ff6060;
}

#homeBack {
  font-family: Montserrat;
  color: #ff6060;
  font-weight: 500;
  font-size: 1vw;
  line-height: 142.6%;
  margin-top: 200px;
  text-decoration-line: underline;
  text-decoration-color: #ff6060;
  margin-bottom: 200px;
}

@media (max-width: 768px) {
  #error-page {
    width: 65%;
    height: auto;
  }
  #errorTxt {
    font-size: 34px;
    text-align: center;
  }
  #homeBack {
    font-size: 14px;
    line-height: 142.6%;
    margin-top: 100px;
    text-decoration: none;
    text-decoration-thickness: 0.5px;
    margin-bottom: 200px;
  }
}
@media (max-width: 576px) {
  #error-page {
    width: 65%;
    height: auto;
  }
  #errorNumber {
    font-size: 100px;
  }
  #errorTxt {
    font-size: 15px;
    text-align: center;
  }
  #homeBack {
    font-size: 11px;
    line-height: 142.6%;
    margin-top: 100px;
    text-decoration: none;
    text-decoration-thickness: 0.5px;
    margin-bottom: 200px;
  }
}
#homeContent {
  position: relative;
  margin-top: 0px;
  height: auto;
  margin-bottom: 50px;
}

#banner {
  height: auto;
  position: relative;
}

.background {
  background-color: rgb(79, 58, 58);
  border-radius: 15px;
  position: relative;
  width: 90%;
  top: 0;
  left: 5%;
}

.imgBackground {
  object-fit: cover;
  position: absolute;
  opacity: 0.6;
}

#bannerTxt {
  position: absolute;
  padding-left: 25.4%;
  top: 29%;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 500;
  font-size: 3.4vw;
  line-height: 142.6%;
  margin-bottom: 0px;
}

#mobileQuoteVersion {
  position: absolute;
  display: none;
}
#mobileQuoteVersion .mobileQuoteVersionP {
  font-family: Montserrat;
  color: #ffffff;
  padding-left: 10.4%;
  top: 20%;
  font-size: 7vw;
  line-height: 142.6%;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  #bannerTxt {
    top: 0%;
    font-size: 3.4vw;
  }
}
@media (max-width: 900px) {
  #bannerTxt {
    top: 30%;
    font-size: 3.4vw;
  }
}
@media (max-width: 576px) {
  #banner {
    width: 100%;
  }
  #bannerTxt {
    display: none;
  }
  #mobileQuoteVersion {
    position: absolute;
    display: block;
    top: 20px;
    left: 14px;
  }
  #mobileQuoteVersion .mobileQuoteVersionP {
    white-space: nowrap;
    line-height: 0;
    padding-left: 10.4%;
    font-size: 6.9vw;
    line-height: 24px;
    margin-bottom: 0px;
  }
  P {
    margin-top: 0%;
  }
  p1 {
    position: relative;
    margin-top: 5%;
  }
  p2 {
    position: absolute;
    margin-top: 0%;
    top: 0;
  }
}
#accordionAbout {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 90%;
}

.accordionAbout-item {
  background: #F7F7F7;
  margin: auto;
  margin-bottom: 80px;
  width: 80%;
}

.accordionAbout-button {
  width: 100%;
  padding: 20px;
  justify-content: left;
  font-family: Montserrat;
  font-size: 1.5vw;
  color: #ffffff;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 7px;
}
.accordionAbout-button:active {
  background-color: #ff6060;
}
.accordionAbout-button.active {
  transform: rotate(180deg);
}
.accordionAbout-button.active {
  flex-direction: row-reverse;
}

.accordion-body {
  font-family: Montserrat;
  font-size: 1vw;
  color: #ff6060;
  padding-left: 2%;
  padding-bottom: 20px;
  margin-top: -20px;
  padding-top: 0px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.accordion-body p {
  margin-top: 70px;
}

.accordion-body {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0;
}
.accordion-body.collapse {
  height: 0;
}
.accordion-body.show {
  height: auto;
}

.aboutAccordionButton {
  width: 80%;
}

.accordionAbout-item.show .accordion-body {
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  overflow: visible;
}

.arrows {
  width: 3.5%;
}
.arrows:hover {
  opacity: 0.6;
}

.accordion-body {
  padding-top: 0; /* réinitialise la valeur par défaut du padding */
  transition: padding-top 0.3s ease; /* ajoute une transition pour une animation en douceur */
}

.accordionAbout-item:not(.show) .accordion-body {
  padding-top: 0; /* lorsque la section est repliée, le padding est réduit à 0 */
}

.accordionAbout-item.show .accordion-body {
  padding-top: 30px; /* lorsque la section est dépliée, le padding-top est de 30px */
}

@media (max-width: 900px) {
  #aboutContent {
    height: auto;
  }
  .sectionText {
    font-size: 1.8vw;
    padding: auto 10px;
  }
  .accordion-body {
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
  }
  .accordionAbout-button {
    width: 100%;
    padding: 10px;
    font-size: 2.75vw;
    border-radius: 7px;
  }
}
@media (max-width: 576px) {
  #aboutContent {
    height: auto;
    width: 100%;
  }
  #banner {
    margin-top: 20px;
  }
  .background {
    border-radius: 8px;
    height: 90px;
  }
  #accordionAbout {
    margin-top: 20px;
    width: 100%;
  }
  .accordionAbout-item {
    margin-bottom: 20px;
    width: 90%;
    border-radius: 8px;
  }
  .accordionAbout-button {
    width: 100%;
    padding: 10px;
    font-size: 5vw;
    border-radius: 7px;
  }
  .accordion-body {
    font-size: 8vw;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .accordion-body p {
    margin-top: 50px;
    margin-bottom: 37px;
  }
  .sectionText {
    font-size: 3.8vw;
  }
  .arrows {
    width: 7.5%;
  }
}
.mediumSection, .bottomSection {
  width: 90%;
  margin: auto;
}

.mediumSection {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  color: #ff6060;
  margin-top: 15px;
}

.leftMediumSection {
  width: 50%;
  margin-top: 20px;
  font-family: Montserrat;
}
.leftMediumSection h1 {
  font-weight: 100;
  font-size: 2.8vw;
  margin-bottom: 5px;
}
.leftMediumSection h2 {
  font-weight: 100;
  font-size: 1.2vw;
  margin-bottom: 30px;
  margin-top: 20px;
}
.leftMediumSection ul {
  padding: 0%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2vw;
  list-style-type: none;
  width: auto;
}
.leftMediumSection ul li {
  margin-right: 15px;
  margin-top: 30px;
  color: #ffffff;
  background-color: #ff6060;
  border-radius: 15px;
  width: 22%;
  text-align: center;
  white-space: nowrap;
  width: auto;
  padding: 10px 30px;
}

.rightMediumSection {
  font-size: 2.5vw;
  position: relative;
  width: 40%;
}
.rightMediumSection img {
  margin-top: 40px;
  width: 15%;
  height: 15%;
  border-radius: 50%;
}
.rightMediumSection .rating {
  position: absolute;
  margin-top: 0px;
  right: 30%;
  width: 6%;
  font-size: 3vw;
}

.hostContent {
  display: flex;
  justify-content: flex-end;
}

.hostName {
  margin-top: 55px;
  margin-right: 15px;
  font-size: 1.2vw;
}
.hostName p {
  margin-top: 15px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 200px;
  width: 90%;
}
.bottom .accordionApart-item {
  flex-basis: 45%;
}
.bottom .equalHeight {
  display: flex;
  flex-wrap: wrap;
}
.bottom .equalHeight > * {
  flex: 1 0 50%;
}

.accordionApart {
  border-radius: 0.8rem;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 2rem;
  color: #ff6060;
  background-color: #F7F7F7;
}

button {
  background-color: #ff6060;
  border: none;
  color: #ffffff;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
button img {
  width: 2em;
}
button img.active {
  transform: rotate(180deg);
}

.accordionApart-item {
  font-family: Montserrat;
  border-radius: 15px;
  width: 45%;
}

h3 {
  font-size: 2rem;
  font-family: Montserrat;
}

.accordionSectionApart {
  background-color: #F7F7F7;
  font-size: 2rem;
  color: #ff6060;
  border-radius: 0px 0px 25px 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.accordionSectionApart.show {
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
}
.accordionSectionApart.show .accordion-button::after.collapsed {
  transform: translateY(-50%) rotate(180deg);
}
.accordionSectionApart.show .accordion-button::after.expanded {
  transform: translateY(-50%) rotate(0deg);
}
.accordionSectionApart ul {
  list-style-type: none;
  padding: 25px 25px 80px 40px;
}

accordion-icon {
  width: 0.1%;
}

.accordion-button {
  font-size: 2rem;
  height: 80px;
}

.accordionTextApart {
  margin-top: 0%;
  padding: 25px 25px 80px 40px;
}

#apartAccordionItem1 {
  width: 15%;
}

#apartAccordionItem2 {
  width: 45%;
}

.equalHeight {
  display: flex;
  flex-wrap: wrap;
}

.equalHeight > * {
  flex: 1 0 50%;
}

@media (max-width: 1200px) {
  .leftMediumSection h1 {
    font-size: 2.8vw;
  }
  .leftMediumSection h2 {
    font-size: 1.8vw;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .leftMediumSection ul {
    font-size: 1.3vw;
  }
  .rightMediumSection {
    font-size: 2.5vw;
    position: relative;
    width: 40%;
  }
  .rightMediumSection img {
    margin-top: 40px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
  }
  .rightMediumSection .rating {
    position: absolute;
    margin-top: 0px;
    right: 30%;
    width: 6%;
    font-size: 3vw;
  }
  .hostName {
    margin-top: 30px;
    margin-right: 15px;
    font-size: 1.7vw;
  }
  .hostName p {
    margin-top: 15px;
  }
  .accordionTextApart {
    font-size: 2vw;
  }
  .accordionSectionApart {
    font-size: 2vw;
  }
}
@media (max-width: 900px) {
  .leftMediumSection {
    width: 90%;
    margin-top: 0px;
  }
  .leftMediumSection h1 {
    margin-bottom: 10px;
  }
  .leftMediumSection h2 {
    font-size: 2vw;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .leftMediumSection ul {
    padding: 0%;
    font-size: 3vw;
    flex-wrap: wrap;
  }
  .leftMediumSection ul li {
    margin-right: 15px;
    margin-top: 15px;
    padding: 3px 10px;
    border-radius: 6.5px;
    white-space: nowrap;
    width: auto;
  }
  .hostContent {
    width: 100%;
  }
  .hostName {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 2vw;
    height: 35px;
  }
  .hostName p {
    margin-bottom: 0;
  }
  .rightMediumSection {
    font-size: 2.5vw;
    position: relative;
    width: 40%;
  }
  .rightMediumSection img {
    margin-top: 20px;
    width: 28%;
    height: 28%;
    border-radius: 50%;
  }
  .rightMediumSection .rating {
    position: absolute;
    margin-top: 0px;
    right: 39%;
    width: 7%;
    font-size: 3vw;
  }
  .bottom {
    height: 280px;
  }
  .accordion-button {
    font-size: 3vw;
    height: 50px;
    border-radius: 7px;
    padding-top: 10px;
  }
  .accordionApart-item {
    height: 30px;
  }
  .apartAccordionItem2 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .accordionTextApart {
    padding-left: 10px;
  }
  .accordionSectionApart ul {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .mediumSection {
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
  .leftMediumSection {
    width: 90%;
    margin-top: 0px;
  }
  .leftMediumSection h1 {
    font-size: 6.5vw;
    margin-bottom: 10px;
  }
  .leftMediumSection h2 {
    font-size: 4.5vw;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .leftMediumSection ul {
    padding: 0%;
    font-size: 3vw;
    flex-wrap: wrap;
  }
  .leftMediumSection ul li {
    margin-right: 15px;
    margin-top: 15px;
    padding: 3px 10px;
    border-radius: 6.5px;
    white-space: nowrap;
    width: auto;
  }
  .rightMediumSection {
    font-size: 4vw;
    position: relative;
    width: 100%;
  }
  .rightMediumSection img {
    margin-top: 15px;
    margin-right: 8px;
    width: 14%;
    height: 14%;
    border-radius: 60%;
  }
  .rightMediumSection .rating {
    position: absolute;
    left: 0%;
    font-size: 6vw;
    top: 20px;
  }
  .hostContent {
    width: 100%;
  }
  .hostName {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 4vw;
  }
  .hostName p {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .bottom {
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-top: 0px;
    width: 90%;
    margin-bottom: 0px;
  }
  #apartAccordion1 {
    margin-top: 16px;
    margin-bottom: 25px;
    width: 100%;
  }
  #apartAccordion2 {
    margin-top: 0px;
    width: 100%;
  }
  .accordionApart-item {
    height: 30px;
  }
  .apartAccordionItem1 {
    width: 100%;
    margin: 0;
    margin-left: 0;
    margin-top: 0 !important;
    left: 0;
  }
  .apartAccordionItem2 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .accordion-button {
    padding: 7px;
    height: 30px;
    border-radius: 6px;
  }
  .accordionSectionApart {
    border-radius: 7px;
    font-size: 4vw;
    margin-left: 0;
  }
  .accordionTextApart {
    font-size: 4vw;
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 10px;
  }
  .accordionSectionApart ul {
    padding: 0;
    padding-left: 12px;
    padding-top: 20px;
  }
  .accordionApart-item {
    margin-bottom: 30px;
    flex-shrink: 0;
  }
  .accordionSectionApart {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
  .accordion-header {
    margin: 0;
  }
  .accordionSectionApart {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .show {
    display: block;
  }
}
#header {
  margin-top: 50px;
  margin-left: 6%;
  margin-right: 50%;
  width: 90%;
  height: 207px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}
#header svg {
  margin-top: -40px;
  width: 288px;
  height: 252px;
}

#navigation {
  width: 22%;
  padding-bottom: 40px;
}

#navUl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 57px;
  white-space: nowrap;
}

.homeNav {
  text-decoration: none;
  font-family: Montserrat;
  color: #ff6060;
  font-size: 1.4vw;
  margin-right: 60px;
}
.homeNav.active::before, .homeNav.active::after {
  content: "";
  height: 20px;
}

.aboutNav {
  padding-bottom: 0px;
}

.navActive {
  text-decoration: none;
  border-bottom: 4px solid #ff6060;
}
.navActive:hover {
  color: #ff6060;
  opacity: 0.5;
  border-bottom: 4px solid rgba(255, 96, 96, 0.5);
}
.navActive.active::before, .navActive.active::after {
  content: "";
  border-bottom: 10px solid #ff6060;
  opacity: 0.5;
  border-bottom: 4px solid rgba(255, 96, 96, 0.5);
}

.homeNav:not(.navActive):hover {
  color: #ff6060;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  #header {
    width: 88%;
    height: 140px;
  }
  #header svg {
    margin-top: -20px;
    width: 200px;
    height: 140px;
  }
  #navUl {
    width: 100%;
    padding-top: 57px;
  }
  .homeNav {
    height: 20px;
    text-align: left;
    white-space: nowrap;
    font-size: 2vw;
    margin-right: 20px;
  }
  #navigation {
    width: 30%;
    padding-top: 0;
    margin-top: -30px;
  }
}
@media (max-width: 900px) {
  #header {
    margin-top: 16px;
  }
  #navUl {
    padding-top: 74px;
  }
}
@media (max-width: 576px) {
  #header {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0;
    margin: auto;
    width: 88%;
    height: 68px;
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
  }
  #header svg {
    margin-top: 0px;
    width: 130px;
    height: 85px;
  }
  #header #navUl {
    width: 50%;
    padding-top: 60px;
    text-align: left;
    margin-right: -25px;
    position: relative;
  }
  #header .homeNav {
    height: 20px;
    text-align: left;
    white-space: nowrap;
    font-size: 3vw;
    margin-right: 20px;
  }
  #navigation {
    width: 42%;
  }
  .navActive {
    border-bottom: 1px solid #ff6060;
  }
}
.cardContainer {
  margin: auto;
  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  margin-right: 3.5%;
}

.apartCard {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  margin-bottom: 60px;
  margin-right: 3%;
  width: 30%;
  height: 550px;
}

.card-image {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.apartCard:hover .card-image::before,
.apartCard:focus .card-image::before {
  opacity: 1;
}

.card-title {
  position: absolute;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none !important;
  color: #ffffff;
  margin: 0;
  bottom: 6%;
  width: 37%;
}

.apartCard .card-image,
.apartCard:hover .card-image,
.apartCard:focus .card-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.card-image:hover,
.card-image:focus,
.apartCard:hover .card-image,
.apartCard:focus .card-image {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.apartCard:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .cardContainer {
    margin-top: 60px;
  }
  .apartCard {
    margin-right: 3%;
    width: 30%;
    height: 350px;
  }
  .card-title {
    font-size: 0.8rem;
    width: 37%;
    bottom: 5%;
  }
  .main-container {
    margin-top: 30px;
  }
}
@media (max-width: 900px) {
  .apartCard {
    height: 250px;
  }
}
@media (max-width: 576px) {
  .cardContainer {
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  .apartCard {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 280px;
  }
  .card-title {
    width: 30%;
    font-size: 1rem;
  }
}
#footerBackground {
  width: 100%;
  height: 340px;
  background-color: black;
  position: relative;
  color: #ffffff;
  margin-top: 50px;
}
#footerBackground svg {
  margin-left: 16%;
  width: 68%;
  margin-top: 3%;
  margin-bottom: 1%;
}
#footerBackground svg path {
  fill: #ffffff;
}
#footerBackground P {
  margin: auto;
  font-family: Montserrat;
  text-align: center;
  vertical-align: auto;
  font-size: 3vh;
  margin-top: 34px;
}

@media (max-width: 900px) {
  #footerBackground {
    width: 100%;
    height: 300px;
    background-color: black;
    position: relative;
    color: #ffffff;
  }
  #footerBackground svg {
    margin-left: 35%;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 4%;
  }
  #footerBackground P {
    text-align: center;
    font-size: 2vh;
  }
}
@media (max-width: 576px) {
  #footerBackground {
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    color: #ffffff;
  }
  #footerBackground svg {
    margin-left: 34%;
    width: 32%;
    margin-top: 10%;
    margin-bottom: 0%;
  }
  #footerBackground P {
    text-align: center;
    margin-top: 10px;
    font-size: 2vh;
  }
}
.carousel-content {
  width: 90%;
  height: 800px;
  margin: 0 auto;
}
.carousel-content .carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}
.carousel-content .carousel .carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel-content .carousel .carousel-inner .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.carousel-content .carousel .carousel-inner .carousel-item.active {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
}
.carousel-control-prev.carousel-control-prev,
.carousel-control-next.carousel-control-prev {
  left: -18%;
}
.carousel-control-prev.carousel-control-next,
.carousel-control-next.carousel-control-next {
  right: -18%;
}
.carousel-control-prev .carousel-control-icon,
.carousel-control-next .carousel-control-icon {
  width: 15%;
}

.carousel-counter {
  position: absolute;
  top: 85%;
  right: 50%;
  transform: translateX(-50%);
  font-family: Montserrat;
  color: #ffffff;
  font-size: 1.7vw;
  text-shadow: -12px -1px 14px -5px rgba(0, 0, 0, 0.38);
}

.imgCarousel {
  width: 100%;
}

@media (max-width: 1200px) {
  .carousel-content {
    margin-top: 0px;
    height: 600px;
    margin-bottom: 30px;
  }
  .carousel-slide {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .imgCarousel {
    height: 100%;
    border-radius: 15px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .carousel-control-prev:focus,
  .carousel-control-next:focus {
    outline: none;
  }
  .carousel-control-prev.carousel-control-prev,
  .carousel-control-next.carousel-control-prev {
    left: -1%;
  }
  .carousel-control-prev.carousel-control-next,
  .carousel-control-next.carousel-control-next {
    right: -1%;
  }
  .carousel-control-prev .carousel-control-icon,
  .carousel-control-next .carousel-control-icon {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .carousel-content {
    margin-bottom: 30px;
    height: 400px;
  }
  .imgCarousel {
    border-radius: 15px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    height: 60px;
  }
  .carousel-control-prev.carousel-control-prev,
  .carousel-control-next.carousel-control-prev {
    left: 0;
  }
  .carousel-control-prev.carousel-control-next,
  .carousel-control-next.carousel-control-next {
    right: 0;
  }
  .carousel-counter {
    position: absolute;
    top: 85%;
    right: 45%;
    transform: translateX(-50%);
    font-family: Montserrat;
    color: #ffffff;
    font-size: 1.7vw;
    text-shadow: -12px -1px 14px -5px rgba(0, 0, 0, 0.38);
  }
}
@media (max-width: 576px) {
  .carousel-content {
    margin: auto;
    margin-top: 25px;
    height: 240px;
    margin-bottom: 12px;
    border-radius: 10px;
  }
  .carousel-content .carousel {
    border-radius: 10px;
  }
  .imgCarousel {
    border-radius: 10px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20%;
  }
  .carousel-control-prev.carousel-control-prev,
  .carousel-control-next.carousel-control-prev {
    left: -5%;
  }
  .carousel-control-prev.carousel-control-next,
  .carousel-control-next.carousel-control-next {
    right: -5%;
  }
  .carousel-control-icon {
    width: 20%;
  }
}/*# sourceMappingURL=index.css.map */