@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  margin: 0;
}

#error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

#errorNumber {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 288px;
  line-height: 142.6%;
  color: #ff6060;
}

#errorTxt {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}

#homeBack {
  font-family: Montserrat;
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  margin-top: 200px;
  text-decoration-line: underline;
  margin-bottom: 200px;
}

#homeContent {
  position: relative;
  margin-top: 0px;
}

#banner {
  height: auto;
  position: relative;
  margin-top: 180px;
}

.background {
  background-color: rgb(79, 58, 58);
  border-radius: 15px;
  position: relative;
  width: 90%;
  top: 0;
  left: 5%;
}

.imgBackground {
  object-fit: cover;
  position: absolute;
  opacity: 0.6;
}

#bannerTxt {
  position: absolute;
  padding-left: 25.4%;
  top: 29%;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 500;
  font-size: 3.4vw;
  line-height: 142.6%;
  margin-bottom: 0px;
}

.accordion {
  margin: auto;
  margin-top: 100px;
  width: 90%;
  --bs-accordion-active-bg: $primary-color;
}

.accordion-item {
  background: #F7F7F7 !important;
  margin-bottom: 100px;
}
.accordion-item .accordion-button {
  font-family: Montserrat;
  font-size: 1.5vw;
  color: #ffffff;
}

.accordion-button {
  background-color: #ff6060;
  border: --bs-border-color-translucent;
  --bs-accordion-active-bg: #ff6060 !important;
}
.accordion-button:active {
  background-color: #ff6060;
}

.accordion-button.collapsed {
  --bs-accordion-btn-icon-color: white;
}

.accordion-button {
  --bs-accordion-btn-icon-color: white;
}
.accordion-button:not(.collapsed) {
  --bs-accordion-btn-icon-color: white;
}

.accordion-button::after {
  width: var(--bs-accordion-btn-icon-width);
  --bs-accordion-btn-icon-width: 2vw;
  --bs-accordion-btn-icon-color: white;
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

section {
  font-family: Montserrat;
  font-size: 1vw;
  color: #ff6060;
}

.mediumSection, .bottomSection {
  width: 90%;
  margin: auto;
}

.mediumSection {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}

.leftMediumSection {
  width: 50%;
  font-family: Montserrat;
}
.leftMediumSection h2 {
  font-family: Montserrat;
}
.leftMediumSection ul {
  padding: 0%;
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  list-style-type: none;
}
.leftMediumSection ul li {
  color: #ffffff;
  background-color: #ff6060;
  border-radius: 15px;
  width: 30%;
  text-align: center;
}

h1 {
  font-family: Montserrat;
  font-size: 3vw;
}

.rating {
  margin-left: 34%;
  margin-top: 20px;
  width: 20%;
  font-size: 4vw;
}

.rightMediumSection {
  font-size: 2.5vw;
}
.rightMediumSection img {
  width: 250px;
  border-radius: 50%;
}

.cite {
  width: 5%;
  font-size: 2vw;
}

#header {
  margin-top: 50px;
  margin-left: 6%;
  margin-right: 50%;
  width: 88%;
  height: 68px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}
#header svg {
  margin-top: -40px;
  width: 500px;
  height: 240px;
}

#navigation {
  padding-bottom: 40px;
}

#navUl {
  width: 100%;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  padding-top: 57px;
}

.homeNav {
  text-decoration: none;
  font-family: Montserrat;
  color: #ff6060;
  font-size: 1.6vw;
  font-size: 2vw;
  margin-right: 60px;
}
.homeNav.active::before, .homeNav.active::after {
  content: "";
  height: 20px;
}

.aboutNav {
  padding-bottom: 0px;
}

.navActive {
  text-decoration: none;
  border-bottom: 4px solid #ff6060;
}
.navActive.active::before, .navActive.active::after {
  content: "";
  border-bottom: 10px solid #ff6060;
}

.main-container {
  margin: auto;
  margin-top: 100px;
  width: 90%;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apartCard {
  position: relative;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card-image {
  background-size: cover;
  background-position: center center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.apartCard:hover .card-image::before,
.apartCard:focus .card-image::before {
  opacity: 1;
}

.card-title {
  position: absolute;
  bottom: 3%;
  font-size: 1.5rem;
  text-decoration: none !important;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.apartCard .card-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.card-image:hover,
.card-image:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-family: Montserrat;
  font-size: 1.5rem;
  text-decoration: none !important;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.apartCard .card-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.apartCard:hover .card-image,
.apartCard:focus .card-image {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.lastRow {
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .card-image {
    height: 150px;
  }
  .card-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .card-image {
    height: 120px;
  }
  .card-title {
    font-size: 1rem;
  }
}
.apartCard:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#footerBackground {
  width: 100%;
  height: 300px;
  background-color: black;
  position: relative;
  color: #ffffff;
}
#footerBackground svg {
  margin-left: 16%;
  width: 68%;
  margin-top: 4%;
  margin-bottom: 1%;
}
#footerBackground svg path {
  fill: #ffffff;
}
#footerBackground P {
  margin: auto;
  font-family: Montserrat;
  text-align: center;
  vertical-align: auto;
  font-size: 3vh;
}

.carousel-content {
  width: 90%;
  margin: auto;
  margin-top: 180px;
  height: 820px;
  margin-bottom: 100px;
}

.carousel-item {
  border-radius: 0px 0px 30px 30px;
  object-fit: cover;
  width: 100%;
  height: 820px;
}

.carousel-counter {
  position: absolute;
  top: 85%;
  right: 45%;
  transform: translateX(-50%);
  font-family: Montserrat;
  color: #ffffff;
  font-size: 3.5vw;
  text-shadow: -12px -1px 14px -5px rgba(0, 0, 0, 0.38);
}

.arrow {
  position: absolute;
  width: 10%;
  height: 28%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  transition: 0.5s ease;
}
.arrow:hover {
  opacity: 1;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}/*# sourceMappingURL=index.css.map */