.accordion{
    margin: auto;
    margin-top: 100px;
    width: 90%;
    --bs-accordion-active-bg: $primary-color;

}
.accordion-item{
    background: $tertiary-color !important; //important pour passer en priorité devant bootstrap au cas ou.
margin-bottom: 100px;
.accordion-button{
    font-family: $font1;
    font-size: 1.5vw;
    color: $secondary-color;
}
}
.accordion-button{
   background-color: $primary-color;
   border: --bs-border-color-translucent;
   --bs-accordion-active-bg: #ff6060 !important;
   $accordion-button-icon-color: white !important;
   &:active{ background-color: $primary-color;
}
}
.accordion-button.collapsed{
    --bs-accordion-btn-icon-color: white;

}
.accordion-button{
    --bs-accordion-btn-icon-color: white;
    &:not(.collapsed){
        --bs-accordion-btn-icon-color: white;

    }
}
.accordion-button::after {

    width: var(--bs-accordion-btn-icon-width);
    --bs-accordion-btn-icon-width: 2vw;
    --bs-accordion-btn-icon-color: white;
    $accordion-button-active-color: white;
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
section{
    font-family: $font1;
    font-size: 1vw ;
    color: $primary-color;
}
