#accordionAbout {
  margin: auto;
  margin-top: 100px;
  width: 90%;
}

.accordionAbout-item {
  background: $tertiary-color ;
  margin: auto;
  margin-bottom: 80px;
  width: 80%;
}

.accordionAbout-button {
  width: 100%;
  padding: 20px;
  justify-content: left;
  font-family: $font1;
  font-size: 1.5vw;
  color: $secondary-color;
  background-color: $primary-color;
  
  &:active {
    background-color: $primary-color;
  }

  &.active {
    transform: rotate(180deg);
  }

  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 7px;

  &.active {
    flex-direction: row-reverse;
  }
}

.accordion-body {
  font-family: $font1;
  font-size: 1vw;
  color: $primary-color;
  padding-left: 2%;
  padding-bottom: 20px;
  margin-top: -20px;
  padding-top: 0px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  p {
    margin-top: 70px;
  }
}

.accordion-body {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0;

  &.collapse {
    height: 0;
  }

  &.show {
    height: auto;
  }
}

.aboutAccordionButton {
  width: 80%;
}

.accordionAbout-item.show .accordion-body {
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  overflow: visible;
}

.arrows{
  width: 3.5%;
  &:hover{
    opacity: 0.6;
  }
}

  .accordion-body {
    padding-top: 0; /* réinitialise la valeur par défaut du padding */
    transition: padding-top 0.3s ease; /* ajoute une transition pour une animation en douceur */
  }
  
  .accordionAbout-item:not(.show) .accordion-body {
    padding-top: 0; /* lorsque la section est repliée, le padding est réduit à 0 */
  }
  
  .accordionAbout-item.show .accordion-body {
    padding-top: 30px; /* lorsque la section est dépliée, le padding-top est de 30px */
  }
  @media (max-width: 900px) {
  #aboutContent{
    height: auto;
  }
  }
  
@media (max-width: 576px) {
  #aboutContent{
    height: auto;
    width: 100%;
  }
  #banner{
    margin-top: 20px;
}
.background{
    border-radius: 8px;
    height: 90px;
}

#accordionAbout {
  margin-top: 20px;
  width: 100%;
}
.accordionAbout-item {
  margin-bottom: 20px;
  width: 90%;
  border-radius: 8px;

}
.accordionAbout-button {
  width: 100%;
  padding: 10px;
  font-size: 4vw;
  border-radius: 7px;

}

.accordion-body {
  font-size: 4vw;
  padding-left: 2%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 20px;


  p {
    margin-top: 50px;
    margin-bottom: 37px;
  }
}
  .arrows{
    width: 7.5%;
  }

}