.mediumSection, .bottomSection{
width:90%;
margin: auto;
}

.mediumSection{
  display: flex;
  justify-content: space-between;
  font-family: $font1;
  color: $primary-color;
}

.leftMediumSection{
  width: 50%;
  margin-top: 10px;
  
  h1{
    font-size: 2.8vw;
    margin-bottom: 20px;
  }

  h2{
    font-size: 1.2vw;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  ul{
    padding: 0%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2vw;
    list-style-type: none;
    li{
      margin-right: 15px;
      margin-top: 30px ;

      color: $secondary-color;
      background-color: $primary-color;
      border-radius: 15px;
      width : 22%;
      text-align: center;    }
  }
}

.rightMediumSection{
  font-size: 2.5vw;
  position: relative;
 
  width: 40%;
  img{
    width: 20%;
    border-radius: 50%;
  }
  .rating{
    position: absolute;
    margin-top: 0px;
    right: 30%;
    width: 7%;
    font-size: 3vw; 
  }
}

.bottom{
  display: flex;  
  height: 400px;
  margin: auto;
  margin-top: 0px;
  width: 90%;
  }

.hostContent{
  display: flex;
  justify-content: flex-end;
}

.hostName{
  margin-top: 18px;
  margin-right: 9px;
  font-size: 1.5vw;
}

.accordion{
  margin-top: 40px;
}
.apartAccordionItem1{
  width: 90%;
  margin: 0;
  margin-left: 0;
  margin-top: 0!important;
  left: 0;
}


.apartAccordionItem2{
  width: 90%;
  margin-right: 0;
}

.accordion-button:focus {
  outline: 0!important;
  box-shadow: 0 0 0 0.25rem rgba(39, 156, 136, 0.25);
}

.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
  .mediumSection{
    flex-direction: column;
   
  }
  .leftMediumSection{
    width: 90%;
    margin-top: 0px;
    
    h1{
      font-size: 6.5vw;
      margin-bottom: 10px;
    }
  
    h2{
      font-size: 4.5vw;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    ul{
      padding: 0%;
      font-size: 3vw;
      flex-wrap: wrap;
      li{
        margin-right: 15px;
        margin-top: 15px ;
        padding: 3px 10px;;
        border-radius: 6.5px;
        white-space: nowrap;
        width: auto;
        }
    }
  }
    .rightMediumSection{
     
      font-size: 4vw;
      position: relative;
      width: 100%;
      img{
        width: 14%;
        height: 14%;
        border-radius: 60%;
      }
      .rating{
        position: absolute;
        left: -34%;
        font-size: 6vw; 
        top: 5px;
      }
    }
    .hostContent{
      width: 100%;
    }
    .hostName{
      margin-top: 0px;
      margin-right: 10px;
      font-size: 4vw;
      p{
        margin-bottom: 0;
      }
    }
  #apartAccordion1{
    margin-top: 16px;
    margin-bottom: 25px;
  }
  #apartAccordion2{
    margin-top: 0px;
    
  }
  .bottom{
    flex-direction: column;
    height: 400px;
    margin: auto;
    margin-top: 0px;
    width: 110%;
    margin-bottom: 120px;
    }
    .apartAccordionItem2{
      width: 90%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 30px;
    }
  .accordion-button{
    padding: 7px;
  }
 

  

  }