#homeContent{
    position: relative;
    margin-top: 0px;
    height: auto;
}
#banner{
height: auto;
position: relative;
}
.background{
    background-color: rgb(79, 58, 58);
    border-radius: 15px;
    position: relative;
    width: 90%;
    top: 0;
    left: 5%;
}
.imgBackground{
    object-fit: cover;
    position: absolute;
    opacity: 0.6;
}
#bannerTxt{
    position: absolute;
    padding-left: 25.4%;
    top: 29%;
    font-family: $font1;
    color: $secondary-color;
    font-weight: 500;
    font-size: 3.4vw;
    line-height: 142.6%;
    margin-bottom: 0px;
}
#mobileQuoteVersion{
    position: absolute;
    display: none;

    .mobileQuoteVersionP{
    font-family: $font1;
    color: $secondary-color;
    padding-left: 10.4%;
    top: 20%;    
    font-size: 7vw;
    line-height: 142.6%;
    margin-bottom: 10px;
    }
}


@media (max-width: 1200px) {
    #bannerTxt{
        top:0%;
        font-size: 3.4vw;
    }
}
@media (max-width: 900px) {
    #bannerTxt{
        top:30%;
        font-size: 3.4vw;
    }
}
@media (max-width: 576px) {
    #banner {
        width: 100%;
    }

#bannerTxt{
    display: none;
    } 
    #mobileQuoteVersion{
        position: absolute;
        display: block;
        top: 20px;
        left: 14px; 
        .mobileQuoteVersionP{
        white-space: nowrap;   
        line-height: 0;
        padding-left: 10.4%;
        font-size: 6.9vw;
        line-height: 24px;
        margin-bottom: 0px;
        }
    }
    P{
        margin-top: 0%;
    }
    p1{ 
        position: relative;
        margin-top: 5%;

    }
    p2{ 
        position: absolute;
        margin-top: 0%;
        top: 0;}
}