/* Styles pour le bouton de chaque item de l'accordéon */

.accordion.About .accordion-button {
    background-color: $primary-color;
    color: $secondary-color;
}

.accordion-button {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 7px;
    font-family: $font1;
    height: 62px;
    border-radius: 7px;
    font-size: 3vh;
}

/* Styles pour la page ApartmentCard */
.ApartmentCard-item {
    width: 45%;
}

.ApartmentCard {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    margin-top: 0 !important;
}

.ApartmentCard-arrow {
    width: 6.2%;
    height: 190%;
    padding-top: 28px;
}

.accordionTextApart {
    padding-left: 14px !important;
}

/* Styles pour la page About */

.accordion-body {
    background-color: $tertiary-color;
    padding-top: 0px;
    font-family: $font1;
    p {
        margin-top: 0;
        padding-top: 44px;
        line-height: 150%;
        font-size: 1.2vw;
    }
    ul {
        list-style: none;
        padding-top: 35px;
        padding-bottom: 50px !important;
        li {
            line-height: 150%;
            font-size: 1.2vw;
        }
    }
}

.AccordionContentAbout {
    margin: auto;
    width: 80% !important;
}

.accordion-body {
    padding-top: 0;
    margin-top: 0;
}
#accordionAbout {
    margin-top: 60px;
}
.About-item {
    margin-bottom: 60px;
}

.sectionText {
    padding: 60px 50px 34px 5px !important;
    font-family: $font1;
    font-size: 1.6vw;
    margin-right: 30px;
}

@media (max-width: 1200px) {
    /* Styles pour le bouton de chaque item de l'accordéon */
    .accordion-button {
        height: 52px;
        border-radius: 7px;
        font-size: 3vh;
    }

    /* Styles pour la page ApartmentCard */
c

    .accordion-body {
        padding-top: 0px;
        p {
            margin-top: 0;
            padding-top: 44px;
            font-size: 1.6vw;
        }
        ul {
            padding-top: 35px;
            padding-bottom: 50px !important;
            li {
                font-size: 1.6vw;
            }
        }
    }
}
/* Styles pour le bouton de chaque item de l'accordéon */
.accordion-button {
    height: 56px;
    padding-bottom: 23px;
    border-radius: 7px;
    font-size: 1.7vh;
}

.About-button{
    font-size: 3vh;
}

/* Styles pour la page ApartmentCard */

.ApartmentCard-button{
    font-size: 3vh;
}
.ApartmentCard-arrow{
    width: 10.2%;
    height: 180%;
    padding-top: 0;
}

.accordion-body {
    padding-bottom: 0%;
    padding-top: 0;
    border-radius: 0pc 0px 12px 12px;
    p {
        margin-top: 0;
        padding-top: 24px;
        line-height: 150%;
        font-size: 2vw;
    }
    ul {
        padding-top: 35px;
        padding-bottom: 50px !important;
        li {
            line-height: 150%;
            font-size: 2vw;
        }
    }
}

@media (max-width: 900px) {
    /* Styles pour la page ApartmentCard */
    .ApartmentCard-arrow {
        width: 13.2%;
        height: 260%;
        padding-top: 28px;
    }
    .ApartmentCard-button{
        height: 45px;
    }

    .ApartmentCard-arrow{
        height: 200%;
        padding-top: 0;
    }
    .accordion-body {
        padding-bottom: 0%;
        padding-top: 0;
        border-radius: 0pc 0px 12px 12px;
        p {
            font-size: 2vw;
        }
    }
    .About-button{
        font-size: 2vh;
    }
}

@media (max-width: 576px) {
    .ApartmentCard {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin-top: 20px !important;
    }

    .ApartmentCard-item{
      width: 100%;
    }

    .ApartmentCard-arrow {
        width: 9.2%;
    height: 70%;
      padding-top: 0px;
  }

  .accordion-button {
    height: 30px;
    padding-bottom: 0px;
    font-size: 2vh;
    border-radius: 5px;
}
.accordion-body {
  border-radius: 0px 0px 1px 1px;
  p {
      margin-top: 0;
      padding: 18px 0px 10px 7px !important;
      line-height: 150%;
      font-size: 3vw;
      margin-bottom: 0%;
  }
  ul {
    padding-left: 7px;
      padding-top: 18px;
      padding-bottom: 10px !important;
      li {
          line-height: 150%;
          font-size: 3vw;
      }
  }
}

/* Styles pour la page About */
.AccordionContentAbout {
  margin-top: -30px;
  width: 90% !important;
}

.About-item{
  margin-bottom: 25px;
}

.sectionText{
    margin-top: 0;
    padding: 34px 10px 13px 5px !important;
}
}
