/* Styles généraux de chaque item de l'accordéon */
.accordion {
    font-family: $font1;
}

.accordion-button {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font1;
    font-weight: 500;
    border-radius: 8px;
    border: 0px;
    border-color: transparent;
    text-align: start;
    padding-left: 2%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.accordion-body {
    color: $primary-color;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: $tertiary-color;
    &.collapse {
        height: 0;
    }
    &.show {
        height: auto;
    }
}
/* Styles pour la page ApartmentCard */

.ApartmentCard {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    margin-top: 0 !important;
}

.ApartmentCard-item {
    width: 45%;
}

.ApartmentCard-button {
    height: 62px;
    font-size: 1.2vw;
    width: 100%;
    border-radius: 10px;
}

.ApartmentCard-arrow {
    width: 6%;
    height: 55%;
    transform: translateY(-50%);
    top: 47%;
    right: 1%;
    position: absolute;
}

.ApartmentCard-body {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-radius: 0px 0px 15px 15px;
    p {
        margin-top: 0;
        padding-top: 44px;
        line-height: 150%;
        font-size: 1.2vw;
    }
    ul {
        list-style: none;
        padding-top: 35px;
        padding-left: 24px;
        padding-bottom: 50px !important;
        height: 365px;

        li {
            line-height: 150%;
            font-size: 1.2vw;
        }
    }
    &.show {
        max-height: 1000px;
        transition: max-height 0.5s ease-in-out;
        .accordion-button::after {
            &.collapsed {
                transform: translateY(-50%) rotate(180deg);
            }
            &.expanded {
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }
}

.accordionTextApart {
    padding-left: 24px !important;
    padding-right: 9px;
    height: 365px;
}

/* Styles pour la page About */

.AccordionContentAbout {
    margin: auto;
    width: 70%;
}

#accordionAbout {
    margin-top: 60px;
}
.About-item {
    margin-bottom: 60px;
}
.About-button {
    height: 62px;
    border-radius: 5px;
    font-size: 1.4vw;
}
.About-arrow {
    width: 3%;
    height: 55%;
    transform: translateY(-50%);
    top: 47%;
    right: 1%;
    position: absolute;
}
.About-body {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    height: 0;
    &.collapse {
        height: 0;
    }
    &.show {
        height: auto;
    }
}
.sectionText {
    margin-top: Opx !important;
    padding: 40px 50px 16px 20px !important;
    font-size: 1.58vw !important;
    margin-right: 30px;
    font-weight: 100 !important;
}

@media (max-width: 1200px) {
    /* Styles généraux de chaque item de l'accordéon */

    .accordion-button {
        height: 56px;
        padding-bottom: 23px;
        border-radius: 7px;
    }

    /* Styles pour la page ApartmentCard */

    .ApartmentCard-button {
        font-size: 2.5vh;
    }
    .ApartmentCard-arrow {
        width: 10.2%;
        height: 60%;
        padding-top: 0;
    }

    .ApartmentCard-body {
        border-radius: 0pc 0px 12px 12px;
        height: 450px;
        p {
            margin-top: 0;
            padding-top: 24px;
            line-height: 150%;
            font-size: 2vw;
        }
        ul {
            padding-top: 35px;
            padding-bottom: 50px !important;
            height: 450px;

            li {
                line-height: 150%;
                font-size: 2vw;
            }
        }
    }
    .accordionTextApart {
        font-size: 2.5vw;
        height: 450px;
    }
}

@media (max-width: 900px) {
    /* Styles généraux de chaque item de l'accordéon */

    .accordion-body {
        padding-bottom: 0%;
        padding-top: 0;
        border-radius: 0pc 0px 12px 12px;
    }

    /* Styles pour la page ApartmentCard */
    .ApartmentCard {
        height: auto !important;
    }
    .ApartmentCard-arrow {
        width: 11.2%;
        height: 52%;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .ApartmentCard-button {
        height: auto;
        font-size: 2.2vw;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .accordion-body {
        p {
            font-size: 2vw;
        }
        ul {
            padding-top: 35px;
            padding-bottom: 50px !important;
            height: 350px;
        }
    }
    .accordionTextApart {
        height: 340px;
    }
    .apartAccordion2 {
        height: 340px;
    }
    /* Styles pour la page About */
    .AccordionContentAbout {
        height: auto;
        margin-bottom: 20px;
    }

    .About-button {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 2vh;
    }
    .About-arrow {
        width: 7%;
    }
    .sectionText {
        font-size: 2.2vw !important;
    }
}

@media (max-width: 576px) {
    /* Styles généraux de chaque item de l'accordéon */

    .accordion-button {
        font-size: 2vh;
        border-radius: 5px;
    }
    .accordion-body {
        border-radius: 0px 0px 1px 1px;
        height: auto;
    }

    /* Styles pour la page ApartmentCard */

    .ApartmentCard {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin-top: -30px;
        height: auto;
    }

    .ApartmentCard-item {
        width: 100%;
        margin-bottom: 19px;
        height: auto;
    }
    .ApartmentCard-button {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
    }
    .ApartmentCard-arrow {
        width: 7.5%;
        height: 50%;
        padding-top: 0px;
    }

    .ApartmentCard-body {
        height: 0;
        p {
            margin-top: 0;
            padding: 18px 10px 0px 7px !important;
            line-height: 150%;
            font-size: 3.9vw;
            margin-bottom: 0%;
        }
        ul {
            height: auto;
            padding-left: 7px;
            padding-top: 18px;
            padding-bottom: 1px !important;
            li {
                line-height: 150%;
                font-size: 3.9vw;
            }
        }
    }
    .accordionTextApart {
        height: auto;
        padding-bottom: 1px;
    }
    /* Styles pour la page About */

    .AccordionContentAbout {
        margin-top: -45px;
        width: 90% !important;
    }
    .accordionAbout {
        margin-top: 10px !important;
    }
    .About-item {
        margin-bottom: 22px;
    }
    .About-button {
        height: auto;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 3.7vw;
    }
    .About-arrow {
        width: 8%;
    }
    .sectionText {
        font-size: 4vw !important;
        margin-top: 0;
        margin-left: 5px;
        padding: 20px 0px 50px 5px !important;
    }
}
