
.banner-home, .banner {
    height: 340px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    width: 90%;
    top: 0;
    left: 5%;
    background-color: rgb(79, 58, 58);

}



.imgBackground {
    height: 340px;

    object-fit: cover;
    position: absolute;
    top: 0%;
    opacity: 0.6;
    border-radius: 15px;

}

.bannerTxt {
    position: absolute;
    width: 100%;
    padding-left: 11.4%;
    top: 35%;
    font-family: $font1;
    color: $secondary-color;
    font-weight: 500;
    font-size: 3.4vw;
    line-height: 142.6%;
    margin-bottom: 0px;
    opacity: 1;
    z-index: 10;
}

#mobileQuoteVersion {
    position: absolute;
    display: none;
    .mobileQuoteVersionP {
        font-family: $font1;
        color: $secondary-color;
        padding-left: 10.4%;
        top: 20%;
        font-size: 7vw;
        line-height: 142.6%;
        margin-bottom: 10px;
    }
}