
.carousel-content {

    width: 90%;
    margin:  auto;
    margin-top: 180px;
    height: 820px;
    margin-bottom: 100px;

   
    }

  

  
  .carousel-item{
    border-radius: 0px 0px 30px 30px;
    object-fit: cover;
  width: 100%;
  height: 820px;
}
  .carousel-counter {
    position: absolute;
    top: 85%;
    right: 45%;
    transform: translateX(-50%);
    font-family: $font1;
    color: $secondary-color;
    font-size: 3.5vw;
    text-shadow: -12px -1px 14px -5px rgba(0,0,0,0.38);
  }
  

  
  
  
  .arrow{
    position: absolute;
    width: 10%;
    height: 28%;
top: 50%;
transform: translateY(-50%);
opacity: 0.6;
transition: 0.5s ease;
&:hover{
    opacity: 1;
}

  }
  .leftArrow {
    left: 0;

  }
  
  .rightArrow {
    right: 0;
  }
  