footer {
    width: 100%;
    padding-bottom: 40px;
    background-color: black;
    color: $secondary-color;
    margin-top: 60px;
    margin-bottom: 0%;
    svg {
        margin-left: 46.5%;
        width: 7%;
        margin-top: 63px;
        margin-bottom: 1%;
        path {
            fill: $secondary-color;
        }
    }
    P {
        margin: auto;
        font-family: $font1;
        text-align: center;
        vertical-align: middle;
        font-size: 2.8vh;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    footer {
        display: table-row;
        height: 1;

        svg {
            margin-left: 35%;
            width: 30%;
            margin-top: 7%;
            margin-bottom: 0%;
        }
        P {
            text-align: center;
            font-size: 2vh;
            padding-bottom: 60px;

        }
    }
}

@media (max-width: 576px) {
    footer {
    display: table-row;
     height: 1;
     width: 100%;

        svg {
            margin-left: 34%;
            width: 28%;
            margin-top: 11%;
            margin-bottom: 2%;
        }
        P {
            text-align: center;
            margin-top: 7px;
            font-size: 1.8vh;
            padding-bottom: 35px;

        }
    }
}
