#header{
    margin-top: 50px;
    margin-left: 6%;
    margin-right: 50%;
    width: 88%;
    height: 68px;
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    svg {
        margin-top: -40px;
        width: 400px;
        height: 240px;
    }
}

#navigation {

padding-bottom: 40px;
}
#navUl{
    width: 100%;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    padding-top: 57px;
}
.homeNav{
    text-decoration: none;
    font-family: $font1;
    color: $primary-color;
    font-size: 2vw;
    margin-right: 60px;
&.active {
    &::before, &::after{
        content: "";
        height: 20px;
    }
    }
}

.aboutNav{
padding-bottom: 0px;
}

.navActive{
    text-decoration: none;
    border-bottom: 4px solid $primary-color;
    &:hover{
        color: $primary-color;
        opacity: 0.5;
        border-bottom: 4px solid rgba($primary-color, 0.5);

    }
    &.active {
    &::before, &::after{
        content: "";
    border-bottom: 10px solid $primary-color;  
    opacity: 0.5;
        border-bottom: 4px solid rgba($primary-color, 0.5);         
        }
    }    
}

.homeNav:not(.navActive):hover {
    color: $primary-color;
    opacity: 0.5;
  }
  
  @media (max-width: 900px) {
    #header{
        margin-top: 50px;
        margin-left: 6%;
        margin-right: 50%;
        width: 88%;
        height: 68px;
        display: flex;
        flex-direction: raw;
        justify-content: space-between;
        svg {
            margin-top: -20px;
            width: 250px;
            height: 140px;
        }
    }
    #navUl{
        width: 100%;    
        padding-top: 57px;
    }
    .homeNav{
        height: 20px;
        text-align: left;
        white-space: nowrap;   
        font-size: 3vw;
        margin-right: 20px;   
        }
        #navigation{
            padding-top: 0;
            margin-top: -30px;
        }
  }
  @media (max-width: 576px) {
    
    #header{
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0;
margin: auto;        
width: 88%;
        height: 68px;
        display: flex;
        flex-direction: raw;
        justify-content: space-between;
        svg {
            margin-top: 0px;
            width: 13      0px;
            height: 85px;
        }
        #navUl{
            width: 50%;
            padding-top: 60px;
            text-align: left;
            margin-right: -25px;
            position: relative;
        }

    .homeNav{
    height: 20px;
    text-align: left;
    white-space: nowrap;   
    font-size: 3.5vw;
    margin-right: 20px;   
    }
}
.navActive{
    border-bottom: 1px solid $primary-color;
}       
}