.starsContainer {
    height: 40px;
    width: 85%;
    margin-top: -30px;
    margin-right: 10px;
}
.rating {
    display: flex;
    justify-content: flex-end;
    margin-top: 0%;
    height: 100%;
    width: 100%;
}

.stars {
    height: 100%;
    transform: scale(0.88);
    margin-right: 5%;
    svg {
        height: 100%;
        width: 100%;
        margin-left: 49px;
    }
}

@media (max-width: 1200px) {
    .starsContainer {
        margin-top: -55px;
    }

    .stars {
        height: 90%;
        width: 90%;
    }
}
@media (max-width: 900px) {
    .starsContainer {
        width: 55%;
        margin-top: 20px;
    }
    .stars {
        height: 100%;
        transform: scale(0.8);
        margin-right: 0%;
        svg {
            height: 100%;
            width: 100%;
            margin-left: 0px;
        }
    }
}

@media (max-width: 576px) {
    .starsContainer {
        margin-top: 20px;
        width: 40%;
    }
    .stars {
        height: 100%;
        transform: scale(1.7);
        margin-right: 10%;
        svg {
            height: 90%;
            width: 90%;
            margin-left: 4px;
            margin-right: 0;
        }
    }
}
